body {
    padding-top: 0 !important;
}

.headerNewStyle {
    background-color: #f79911 !important;
    color: #fff;
    border-bottom: 6px solid #c67a0c;
}

.secondHeaderNewStyle {
    position: initial;
    right: none;
    left: none;
    background-color: #fff;
    margin-bottom: 0;
}

.thirdContainerSlider {
    padding-left: 0;
    padding-right: 0;
}

.columnNewStyle {
    padding-left: 16px;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.contactStyleHeader {
    font-size: 18px;
    border-radius: 50%;
    background-color: #f79911;
    padding: 5px;
    border: 2px #fff solid;
    float: left;
    margin-right: 15px;
    margin-top: 4px;
}

.columnNewStyle p {
    margin: 0 0 0px;
    font-size: 16px;
}

.uppercaseStyle {
    text-transform: uppercase;
    font-size: 15px !important;
}

.imageStyleHeader {
    vertical-align: super;
}

.columnAdditionalStyle {
    padding-left: 0;
    border-left: none;
    border-right: 1px solid #f9ad3f;
}

.columnAdditionalStyle2 {
    border-right: none;
    padding-top: 26px;
    padding-bottom: 24px;
}

.loginStyleHeader {
    font-size: 24px;
    padding: 5px;
    float: left;
    margin-right: 15px;
    margin-top: 4px;
}

.uppercaseStyle a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.uppercaseStyle a:hover {
    color: #fff;
}

.circleStyleSocial {
    border-radius: 50%;
    background-color: #feebcd;
    padding: 6px 12px;
    color: #f79911;
    font-size: 18px;
    margin-right: 9px;
}

.circleStyleSocial:hover {
    background-color: #fff6e7;
    color: #f79911;
}

.additionalSocialMediaStyle1 {
    padding: 6px 8px;
}

.additionalSocialMediaStyle2 {
    padding: 6px 9px;
}

.additionalSocialMediaStyle3 {
    padding: 6px 8px;
}

.additionalSocialMediaStyle4 {
    padding: 6px 9px;
}

.additionalSocialMediaStyle5 {
    padding: 6px 9px;
}

.newFormStyleSecond {
    position: relative;
}

.newFormStyleSecond .fa-search {
    position: absolute;
    top: 10px;
    left: auto;
    right: 30px;
    color: grey;
}

.productListPageSearchNewStyle {
    position: relative;
    float: none !important;
    border-bottom: 1px solid lightgrey;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    padding: 0 0 23px 0;
    text-align: left;
}

.productListSearchInputNewStyle {
    color: grey;
    border: 1px solid lightgrey;
    border-radius: initial;
    box-shadow: none;
    padding-right: 50px;
    float: left;
}

.searchIconColorChange {
    color: lightgrey;
    margin-left: -29px;
    margin-top: 10px;
}

.productLisPageFilter1 {
    float: right;
}

.productListFilterNewStyle {
    float: right;
    margin-left: 4px;
}

.newFilterProductInputStyle {
    border-radius: 0;
}

.imageHoverEffectStyle {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.marginNewStyleForImage {
    cursor: pointer;
    position: relative;
    display: block;
    margin-right: 25px;
}

.gallery-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    vertical-align: middle;
    line-height: 200px;
    pointer: cursor;
}

.gallery-text:hover {
    opacity: 1;
}

.gallery-text h3 {
    color: white;
    display: inline-table;
    vertical-align: middle;
    line-height: 100%;
    padding-top: 100px !important;
}

.addMarginStyle {
    margin-right: 10px;
}

.addMarginStyle2 {
    margin-left: 10px;
}

.newFormStyle {
    margin-top: 22px;
}

.newFormStyleSecond .fa-search {
    top: 32px;
}

.sliderNavNewStyle {
    text-align: center;
}

@media (max-width: 1200px) {
    .media-carousel .carousel-control.left {
        margin-top: -6px;
    }

    .media-carousel .carousel-control.right {
        margin-top: -6px;
    }

    .gallery-text h3 {
        padding-top: 80px !important;
        font-size: 20px;
    }

    .newContainerStyle2 img {
        width: 220px;
    }

    .carouselThumbnailNewstyle img {
        width: 464px;
    }

    .newContainerStyle2 {
        padding-left: 0;
        padding-right: 0;
    }

    .newFormFooterSubscribeStyle {
        padding: 23px 116px 23px 16px !important;
    }

    .carouselThumbnailNewstyle2 {
        margin-bottom: 22px !important;
    }
}

@media (max-width: 768px) {
    .productListPageSearchNewStyle {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .productListFilterNewStyle {
        float: none;
        margin-left: 0;
    }

    .productListSearchInputNewStyle {
        margin-bottom: 10px;
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .newFormStyle {
        margin-top: 0 !important;
    }

    .newFormStyleSecond .fa-search {
        top: 20px;
    }
}

@media (max-width: 741px) {
    .footerNewStylePayment img {
        margin-bottom: 14px;
    }
}

@media (max-width: 991px) {
    .columnAdditionalStyle {
        float: left;
        width: 50%;
        border-left: none !important;
        border-right: none !important;
    }

    .columnAdditionalStyle4 {
        float: right;
        width: 50%;
        border-left: none !important;
        border-right: none !important;
        text-align: right;
        box-shadow: none !important;
    }

    .columnAdditionalStyle3 {
        float: left;
        width: 50%;
        border-left: none !important;
        border-right: none !important;
        box-shadow: none !important;
        padding-right: 0 !important;
    }

    .columnAdditionalStyle2 {
        float: right;
        width: 50%;
        border-left: none !important;
        border-right: none !important;
        box-shadow: none !important;
    }

    .columnNewStyle {
        border-right: none;
        border-left: none;
        padding-left: 0;
    }

    .newStyleMainNav {
        float: left !important;
    }

    .newStyleMainNav li a {
        padding: 0px 28px 10px 4px !important;
    }

    .newFormStyle {
        padding: 6px 70px 6px 15px !important;
    }

    .newStyleMainNav {
        margin-top: 0 !important;
    }

    .socialMediaIconsRight {
        text-align: left;
    }

    .loginNowRight {
        text-align: right;
    }

    .floatStyle {
        width: 50%;
    }

    .floatStyle2 {
        float: right;
    }

    .media-carousel .carousel-control.left {
        position: absolute;
        top: 40%;
        font-size: 60px !important;
    }

    .media-carousel .carousel-control.right {
        position: absolute;
        top: 40%;
        font-size: 60px !important;
    }

    .newContainerStyle {
        float: none !important;
    }

    .carouselThumbnailNewstyle img {
        width: auto !important;
        text-align: center !important;
    }

    .carouselThumbnailNewstyle2 {
        display: inline-block !important;
        float: none !important;
        margin-bottom: 15px !important;
    }

    .marginNewStyleForImage {
        text-align: center !important;
        margin-right: 17px !important;
    }

    .newContainerStyle2 img {
        width: auto !important;
    }

    .gallery-text h3 {
        padding-top: 100px !important;
        font-size: 25px !important;
    }
    .addMarginStyle2 {
        margin-left: 18px !important;
    }

    .newFormFooterStyleSecond {
        float: none !important;
        text-align: center;
    }

    .footerSubscribeStyle {
        text-align: center;
    }

    .footerNewStyleMainContainer {
        float: none !important;
    }

    .carouselNewStyleLeft {
        left: 11%;
    }

    .carouselNewStyleRight {
        right: 11% !important;
    }

    .columnNewFooterStyle {
        text-align: center !important;
    }

    .footerContainerNewStyle {
        text-align: center;
    }

    .footerHelpfulLinks h4 {
        margin-top: 25px;
    }

    .footerNewStyleLastLineCopyright {
        text-align: center;
    }

    .footerNewStylePayment {
        text-align: center !important;
    }

    .footerNewStyle3 {
        padding-top: 0 !important;
    }
}

@media (max-width: 770px) {
    .newNavigationStyle {
        padding: 14px 15px;
        margin-top: 25px;
    }

    .newNavigationStyle:hover {
        background-color: #e5e5e5 !important;
    }

    .newNavigationStyle:focus {
        background-color: #e5e5e5 !important;
    }

    .newNavigationStyle:inverse {
        background-color: #e5e5e5 !important;
    }

    .newNavigationStyle span {
        background-color: #000 !important;
    }

    .newFormStyleSecond {
        border-top: none;
        margin-top: 0;
    }
    
    .newStyleMainNav li a {
        padding: 12px 28px 12px 14px !important;
    }

    .newFormStyle {
        margin-top: 22px;
    }
}

@media (max-width: 650px) {
    .columnAdditionalStyle {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .columnAdditionalStyle4 {
        float: none;
        width: 100%;
        text-align: center;
        border-left: none !important;
    }

    .columnAdditionalStyle3 {
        float: none;
        width: 100%;
        text-align: center;
        border-left: none !important;
        border-right: none !important;
        box-shadow: none !important;
        margin-bottom: 15px;
    }

    .columnAdditionalStyle2 {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 20px !important;
        border-left: none !important;
        padding-right: 0 !important;
    }

    .columnNewStyle {
        border-right: none;
        border-left: none;
        padding-left: 0;
        padding-top: 4px;
        padding-bottom: 2px;
    }

    .contactStyleHeader {
        float: none;
        margin-bottom: 10px;
    }

    .imageStyleHeader {
        float: none;
        margin-bottom: 10px;
    }

    .loginStyleHeader {
        float: none;
        margin-bottom: 10px;
        display: block;
    }

    .circleStyleSocial {
        margin-right: 0;
    }

    .amountOfThingsInCart {
        margin-left: -14px !important;
    }

    .columnAdditionalStyle3 {
        padding-bottom: 0 !important;
    }
    .inlineBlockClass {
        display: block !important;
    }

    .newStyleMainNav li a {
        padding: 12px 28px 12px 14px !important;
    }

    .newContainerStyle2 img {
        float: none !important;
        margin-right: auto !important;
    }

    .marginNewStyleForImage img {
        margin-left: auto !important;
    }

    .marginNewStyleForImage {
        margin-right: 0 !important;
    }

    .addMarginStyle2 {
        margin-left: 0 !important;
    }

    .addMarginStyle {
        margin-left: 18px !important;
    }

    .newContainerStyle2 {
        margin-right: 11px;
        margin-left: 11px;
    }

    .columnNewStyle {
        margin-bottom: 20px;
    }

    .newFormFooterSubscribeStyle {
        padding: 23px 85px 23px 12px !important;
    }
}

@media (max-width: 596px) {
    .addMarginStyle {
        margin-left: 0 !important;
    }
}

.logoNewStyle {
    height: initial;
    padding: 8px 15px;
}

.newStyleMainNav li a {
    text-transform: uppercase;
}

.newStyleMainNav li a:hover {
    color: c67a0a !important;
}

.newFormStyle {
    background-color: #e5e5e5;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: #000 !important;
    padding: 6px 24px 6px 15px;
}

.newStyleMainNav {
    margin-top: 23px;
}

.amountOfThingsInCart {
    border-radius: 50%;
    background-color: #1285e2;
    padding: 5px 9px;
    color: #fff;
    font-size: 12px;
    margin-left: -22px;
    top: -1em;
}

.activeLink {
    color: #000 !important;
    font-weight: bold;
}

.newFormStyle::-webkit-input-placeholder {
    color: #fff;
}

.socialMediaIconsRight {
    float: right;
}

.loginNowRight {
    float: right;
}

.columnAdditionalStyle3 {
    padding-right: 16px;
}

.columnAdditionalStyle4 {
    border-left: 1px solid #de890c;
}

.columnAdditionalStyle3 {
    border-left: 1px solid #de890c;
    padding-bottom: 18px;
}

.columnAdditionalStyle2 {
    border-left: 1px solid #de890c;
    box-shadow: -1px -1px 1px 0px #f9ad3f;
    border-right: 1px solid #f9ad3f;
    padding-right: 16px;
}

.inlineBlockClass {
    display: inline-block;
}

.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

.media-carousel .carousel-control.left {
    background-image: none;
    width: 40px;
    margin-top: 1px;
    font-size: 34px;
    color: #000000;
}

.media-carousel .carousel-control.right {
    background-image: none;
    width: 40px;
    margin-top: 1px;
    font-size: 34px;
    color: #000000;
}

.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.carouselNewStyleLeft {
    background-image: none !important;
    background-color: #fff;
    border: 0px solid grey;
    width: 30px;
    height: 30px;
    opacity: 1;
    color: #000;
    display: inline-block;
    top: 45%;
    opacity: 0.4;
}

.carouselNewStyleRight {
    background-image: none !important;
    background-color: #fff;
    border: 0px solid grey;
    width: 30px;
    height: 30px;
    opacity: 1;
    color: #000;
    display: inline-block;
    top: 45%;
    opacity: 0.4;
}

.carouselNewStyleLeft:hover {
    color: #000;
    background-color: #fff;
    opacity: 1;
}

.carouselNewStyleRight:hover {
    color: #000;
    background-color: #fff;
    opacity: 1;
}

.carouselThumbnailNewstyle {
    border: none;
    padding: 0;
}

.carouselThumbnailNewstyle2 {
    border: none;
    padding: 0px;
    float: left;
    margin-bottom: 25px;
}

.newContainerStyle {
    float: left;
}

.newContainerStyle2 {
    padding-left: 0;
    padding-right: 0;
}

.headerGoodsNewStyle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 30px;
}

.cardTitleNewStyle {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.goodItemStyleImage {
    text-align: center;
    display: block;
}

.goodPriceNewStyle {
    text-align: center;
    font-size: 16px;
}

.newButtonAddToCartStyle {
    margin: 0 auto;
    display: table;
    background-color: grey;
    border: none;
}

.newButtonAddToCartStyle:hover {
    background-color: #b32828;
}

.titleGoodNewStyle {
    color: #000 !important;
    text-decoration: none;
}

.titleGoodNewStyle:hover {
    color: #000 !important;
    text-decoration: none;
}

.srossedOutPriceStyle {
    text-decoration: line-through;
    color: grey;
    margin-left: 6px;
    font-size: 14px;
}

.discountMarkStyle {
    border-radius: 50%;
    background-color: #f79b14;
    padding: 29px 17px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 15px;
    text-align: center;
    z-index: 10;
}

.discountMarkStyle span {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.newRowStyle {
    margin-bottom: 50px;
}

@media (max-width: 770px) {
    .newRowStyle {
        text-align: center;
    }

    .newCardStyleDesign {
        margin-bottom: 50px;
        display: inline-block;
        padding-left: 43px;
        padding-right: 43px;
    }

    .newFormFooterSubscribeStyle {
        width: auto;
        display: inline-block;
    }
}

@media (max-width: 990px) {
    .discountMarkStyle {
        right: 0;
    }
    .circleFooterStyleSocial {
        margin-right: 0 !important;
    }
}

.footerNewStyle {
    background-color: #ebebeb;
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 2px solid lightgrey;
}

.circleFooterStyleSocial {
    border-radius: 50%;
    background-color: grey;
    padding: 6px 12px;
    color: #fff;
    font-size: 18px;
    margin-right: 9px;
}

.circleFooterStyleSocial:hover {
    background-color: #646464;
    color: #fff;
}

.additionalFooterSocialMediaStyle1 {
    padding: 6px 8px;
}

.additionalFooterSocialMediaStyle2 {
    padding: 6px 9px;
}

.additionalFooterSocialMediaStyle3 {
    padding: 6px 8px;
}

.additionalFooterSocialMediaStyle4 {
    padding: 6px 9px;
}

.footerSubscribeStyle {
    font-size: 26px;
    text-transform: uppercase;
}

.newFormFooterSubscribeStyle {
    padding: 23px 160px 23px 16px;
    background-color: #fff;
    color: grey;
    border: none;
    border-radius: 0;
    box-shadow: 0;
}

.newFormFooterStyleSecond {
    margin-bottom: 0;
    margin-top: 15px;
}

.footerNewStyleMainContainer {
    float: right;
}

.newSubmitButtonStyle {
    margin-left: -81px;
    background-color: #f6990e;
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0;
}

.newSubmitButtonStyle:hover {
    background-color: #f6990e;
    color: #fff;
}

.columnNewFooterStyle {
    margin-top: 24px;
    margin-bottom: 20px;
}

.footerNewStyle2 {
    background-color: #ebebeb;
    padding-top: 45px;
    padding-bottom: 45px;
}

.footerNewStyle3 {
    background-color: #ebebeb;
    padding-top: 15px;
    padding-bottom: 45px;
}

.footerCustomerService h5 {
    text-transform: uppercase;
    font-size: 24px;
}

.footerCustomerService p {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 14px;
}

.noBorderStyle {
    border-bottom: 2 solid lightgrey !important;
}

.footerHelpfulLinks a {
    display: block;
    color: #000;
    margin-bottom: 12px;
    font-size: 16px;
}

.footerHelpfulLinks h4 {
    color: #000;
    margin-bottom: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.footerNewStyleLastLineCopyright {
    font-size: 16px;
    color: grey;
    margin-top: 18px;
}

.footerNewStylePayment img {
    margin-right: 20px;
}

.paginationNewStyle {
    text-align: center;
    margin-bottom: 55px;
}

.modalProductDetailsStyle {
    float: left;
    font-size: 20px;
}

.closeModalNewStyle {
    margin-top: 2px !important;
    font-size: 26px;
}

.newModalClassStyle {
    margin: 130px auto;
}

.modalBodyNewStyle img {
    display: block;
    margin: 0 auto;
}

.buttonAddNewCartModal {
    margin-top: 30px;
    margin-bottom: 15px;
}

.modalBodyNewStyle {
    padding: 20px;
}

.newMainContainerModalStyle {
    padding-right: 0 !important;
}

.floatStyle a:hover {
    border: 1px solid #919191;
}

.newPaginationStyle>.newPaginationActiveStyle>a,
.newPaginationStyle>.newPaginationActiveStyle>a:focus {
    background-color: grey;
    border-color: grey;
    cursor: pointer;
}

.newPaginationStyle>.newPaginationActiveStyle>a:hover {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    cursor: pointer;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.amountOfItemsFound {
    color: grey;
    text-transform: lowercase;
    font-size: 20px;
}
